<div class="sidebar">
    <h2>{{ request.user.username }}</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my-balance' %}">My balance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'money-transfer' %}">Money Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
        </li>
    </ul>
</div>